fastapi==0.115.3
uvicorn==0.29.0
httpx==0.27.0
numpy==1.26.4
pymongo==4.3.3
requests==2.31.0
python-dotenv==0.21.1
python-multipart==0.0.6
gunicorn==20.1.0
langchain==0.3.25
langgraph==0.2.72
openai==1.63.0
faiss-cpu==1.10.0
langchain_openai==0.3.5
langchain-community==0.3.17
sentence-transformers==3.4.1
urllib3==2.3.0
numexpr==2.10.2
langchain-anthropic==0.3.7
langchain-google-genai==2.0.9
ijson==3.4.0
langsmith==0.3.45
tqdm
psutil==7.0.0
# Development dependencies (move to dev-requirements.txt)
# pytest==7.2.2